body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.login-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}
.login-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 300px);
    width: 500px;
    height: 500px;
    background-color: rgb(236, 239, 241)
}
.login-box__icon {
    margin-top: 20px;
    margin-left: 20px;
    width: 110px;
    height: 40px;
}
.login-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.login-form__label {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 35px;
}
.login-form__input {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

.error-text {
    color: red;
    position: absolute;
    bottom: 160px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.error-text.is-open {
    visibility: visible;
    opacity: 1;
}

.login-form__btn {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 40px;
    width: 250px;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 107, 10);
    transition: 0.2s;
}

.login-form__btn:hover {
    transform: scale(1.1);
}
.login-form__btn-text {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
}

/* font-family: 'Montserrat', sans-serif; */

.main-section {
    position: relative;
    background-color: rgb(236, 239, 241);
    padding: 60px;
    height: 100vh;
}
.main-box__all {
    position: absolute;
    text-align: center;
    left: calc(50% - 200px);
    width: 400px;
    height: 200px;
}
.main-box__all-text {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;
}
.main-box__all-number {
    font-size: 45px;
}



.main-box__history {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    width: 350px;
    height: 600px;
    border: 3px solid rgb(255, 107, 10);
    border-radius: 15px;
    overflow: auto;
}
.main-box__text-hystory {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.main-box__number-hystory {
    margin-top: 32px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
    color: black;
}

.main-box__number-hystory.deposit {
    background-color: lightgreen;
    padding: 10px 0;
    width: 85%;
}
.main-box__number-hystory.withdraw {
    background-color: rgb(209 91 91);
    padding: 10px 0;
    width: 85%;
}







.main-box__price {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(50% - 250px);
    top: 50%;
    width: 500px;
    height: 300px;

}



.main-btn {
    cursor: pointer;
    width: 200px;
    height: 60px;
    background-color: rgb(255, 107, 10);
    color: white;
    border-radius: 15px;
    border: none;

    font-family: 'Montserrat', sans-serif;
    align-self: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;

    transition: 0.2s;
    
}
.main-btn:hover {
    transform: scale(1.2);
}

.alert-price {
    position: absolute;
    color: red;
    top: 170px;
    left: 80px;
    opacity: 0;
    visibility: hidden;
}

.alert-price.is-open {
    opacity: 1;
    visibility: visible;
}

.btn-down {
    background-color: rgb(255, 160, 97);
}
.btn-down:hover {
    transform: scale(1);
}

.box-btn {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
.box-input {
    cursor: pointer;
    font-size: 20px;
    padding-left: 30px;
    align-self: center;
    margin-top: 50px;
    height: 60px;
    width: 220px;
}
.main-btn.ch-color {
    background-color: rgb(202, 147, 111);
}

/* ----------- */

.main-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.header-box {
    font-size: 20px;
    align-self: center;
    display: flex;
}

.header-exit {
    font-size: 20px;
    align-self: center;
    color: black;
    display: flex;
    align-items: center;
}


.icon-exit {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.header-exit:hover {
    color: rgb(255, 107, 10);
}


.header-box__link {
    color: black;
}
.header-box__link:hover {
    color: rgb(255, 107, 10);
}
.header-box__item {
    margin-right: 100px;
}


/* Modal

.modal {
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 1;
    visibility: hidden;
} */
